In [40]:
%load_ext lab_black

In [41]:
import pandas as pd
import geopy.distance

In [97]:
x = pd.read_csv("data/2020-06-26_15_20_스타벅스dt_review.csv", sep="\t")
x = x.drop(x.columns[0], axis=1)
x1 = pd.read_csv("data/2020-06-26_15_28_스타벅스dt_review.csv", sep="\t")
x1 = x1.drop(x1.columns[0], axis=1)
x2 = pd.read_csv("data/2020-06-26_14_05_스타벅스dt_review.csv", sep="\t")
x2 = x2.drop(x2.columns[0], axis=1)

In [104]:
total_data = pd.concat([x, x1, x2])
total_data = total_data.drop_duplicates("loc_name").reset_index(drop=True)

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...,160,"{0: '아주 좋아요 ~ 자주 이용하는 편이에요', 1: '좋아요', 2: '넓고 ...","{0: 4.0, 1: 4.5, 2: 5.0, 3: 5.0, 4: 3.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '2번..."
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...,177,"{0: '좋아요', 1: '좋아요 ㅎㅎ', 2: '여긴 크고 작은 실수가 잦은데 학...","{0: 5.0, 1: 4.0, 2: 3.0, 3: 4.5, 4: 4.0, 5: 5....","{0: '2020.06.22', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
2,스타벅스 영등포신길DT점,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...,314,"{0: '만족합니다', 1: '굿', 2: '.', 3: '좋아요', 4: '좋아요...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
3,스타벅스 구의DT점,구의동 67-36,블로그리뷰 90,https://m.place.naver.com/restaurant/36636853?...,203,"{0: '좋아요', 1: '아아 마셨어요 친절 친절', 2: '.', 3: '직원들...","{0: 4.5, 1: 4.5, 2: 4.0, 3: 3.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '2번..."
4,스타벅스 낙성대DT점,봉천동 1657-3,블로그리뷰 104,https://m.place.naver.com/restaurant/38412114?...,284,"{0: '애플망고 시원하고 달달하고 상큼하니 맛나요~~', 1: '드라이브쓰루 줄 ...","{0: 3.5, 1: 3.0, 2: 5.0, 3: 4.5, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
...,...,...,...,...,...,...,...,...,...
244,스타벅스 제주용담DT점,용담삼동 2572-4 화이트하우스,블로그리뷰 34,https://m.place.naver.com/restaurant/35720213?...,241,"{0: '긋긋', 1: '분위기 좋아요~~', 2: '굿!', 3: '제주 쑥떡크림...","{0: 5.0, 1: 5.0, 2: 4.0, 3: 4.5, 4: 4.5, 5: 4....","{0: '2020.06.26', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
245,스타벅스 제주외도DT점,외도일동 401-1,블로그리뷰 431,https://m.place.naver.com/restaurant/183254138...,71,"{0: '넓고 친절!', 1: '오랜만에 스타벅스 그리고 진짜오랜만에 돌체라떼 최고...","{0: 5.0, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 5....","{0: '2020.06.24', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
246,스타벅스 제주도남DT점,도남동 377,블로그리뷰 503,https://m.place.naver.com/restaurant/104882012...,106,"{0: '#현무암러스크 #아이스아메리카노 #벤티사이즈', 1: '#그린티프라푸치노 ...","{0: 5.0, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 5....","{0: '2020.06.26', 1: '2020.06.25', 2: '2020.06...","{0: '10번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '1..."
247,스타벅스 제주성산DT점,고성리 238,블로그리뷰 244,https://m.place.naver.com/restaurant/69594415?...,291,{0: '제주에만 있는 메뉴 먹으려고 방문했어요! 건물 외관도 이쁘구 창가쪽 자리가...,"{0: 5.0, 1: 5.0, 2: 3.5, 3: 4.5, 4: 2.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
248,스타벅스 제주애월DT점,고내리 340,블로그리뷰 144,https://m.place.naver.com/restaurant/86596503?...,234,"{0: '아주좋아용', 1: '#제주도#스타벅스#애월점#무료쿠폰 득템.ㅋㅋ', 2:...","{0: 5.0, 1: 5.0, 2: 4.0, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."

In [164]:
total_data = total_data.drop("Unnamed: 0", axis=1)
total_data

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...,160,"{0: '아주 좋아요 ~ 자주 이용하는 편이에요', 1: '좋아요', 2: '넓고 ...","{0: 4.0, 1: 4.5, 2: 5.0, 3: 5.0, 4: 3.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '2번..."
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...,177,"{0: '좋아요', 1: '좋아요 ㅎㅎ', 2: '여긴 크고 작은 실수가 잦은데 학...","{0: 5.0, 1: 4.0, 2: 3.0, 3: 4.5, 4: 4.0, 5: 5....","{0: '2020.06.22', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
2,스타벅스 영등포신길DT점,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...,314,"{0: '만족합니다', 1: '굿', 2: '.', 3: '좋아요', 4: '좋아요...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
3,스타벅스 구의DT점,구의동 67-36,블로그리뷰 90,https://m.place.naver.com/restaurant/36636853?...,203,"{0: '좋아요', 1: '아아 마셨어요 친절 친절', 2: '.', 3: '직원들...","{0: 4.5, 1: 4.5, 2: 4.0, 3: 3.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '2번..."
4,스타벅스 낙성대DT점,봉천동 1657-3,블로그리뷰 104,https://m.place.naver.com/restaurant/38412114?...,284,"{0: '애플망고 시원하고 달달하고 상큼하니 맛나요~~', 1: '드라이브쓰루 줄 ...","{0: 3.5, 1: 3.0, 2: 5.0, 3: 4.5, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
...,...,...,...,...,...,...,...,...,...
244,스타벅스 포항장성DT점,장성동 1577-8,블로그리뷰 14,https://m.place.naver.com/restaurant/363950512...,155,"{0: '좋아요', 1: '직원분들 모두 친절하세요~!!!!', 2: '당당하니 맛...","{0: 4.5, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....","{0: '2020.06.23', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '4번째 방문', 2: '1번째 방문', 3: '5번..."
245,스타벅스 포항죽도DT점,죽도동 699-1,블로그리뷰 52,https://m.place.naver.com/restaurant/163902018...,129,"{0: '#스타벅스 #포항죽도DT점', 1: 'ㅈ', 2: '굿', 3: '', 4...","{0: 5.0, 1: 4.0, 2: 4.0, 3: 4.5, 4: 4.0, 5: 4....","{0: '2020.06.24', 1: '2020.06.21', 2: '2020.06...","{0: '1번째 방문', 1: '5번째 방문', 2: '1번째 방문', 3: '4번..."
246,스타벅스 광주효천DT점,임암동 141-3 143-2,블로그리뷰 473,https://m.place.naver.com/restaurant/145925867...,78,"{0: '좋아요', 1: '좋아요 깨끗하고 친절해요', 2: '음료 맛있게 머그잔 ...","{0: 4.0, 1: 4.0, 2: 4.0, 3: 5.0, 4: 4.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
247,스타벅스 경주보문호수DT점,북군동 57-40 1~3층,블로그리뷰 263,https://m.place.naver.com/restaurant/34063051?...,117,"{0: '스벅이야 뭐 말할거있나요.', 1: '스벅 오늘 너무 잘 먹어서 좋네요',...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 5.0, 4: 4.5, 5: 4....","{0: '2020.06.19', 1: '2020.06.19', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
248,스타벅스 온천장역DT점,장전동 607-6,블로그리뷰 37,https://m.place.naver.com/restaurant/179751176...,146,{0: '아침부터 열심히 걷고 마시는... 이러면 열심히 걸은거 다 허빵이지만......,"{0: 4.5, 1: 4.5, 2: 5.0, 3: 4.0, 4: 3.5, 5: 4....","{0: '2020.06.26', 1: '2020.06.24', 2: '2020.06...","{0: '6번째 방문', 1: '2번째 방문', 2: '1번째 방문', 3: '1번..."

In [165]:
total_data.to_csv("data/starbucks_review_total_200626.csv", sep="\t")

In [166]:
new_dict_list = {}
new_dict_list["reviews"] = total_data["reviews"].map(lambda x: yaml.load(x))
new_dict_list["scores"] = total_data["scores"].map(lambda x: yaml.load(x))
new_dict_list["dates"] = total_data["dates"].map(lambda x: yaml.load(x))
new_dict_list

<ipython-input-166-91e1321fe492>:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  new_dict_list["reviews"] = total_data["reviews"].map(lambda x: yaml.load(x))
<ipython-input-166-91e1321fe492>:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  new_dict_list["scores"] = total_data["scores"].map(lambda x: yaml.load(x))
<ipython-input-166-91e1321fe492>:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  new_dict_list["dates"] = total_data["dates"].map(lambda x: yaml.load(x))

{'reviews': 0      {0: '아주 좋아요 ~ 자주 이용하는 편이에요', 1: '좋아요', 2: '넓고 ...
 1      {0: '좋아요', 1: '좋아요 ㅎㅎ', 2: '여긴 크고 작은 실수가 잦은데 학...
 2      {0: '만족합니다', 1: '굿', 2: '.', 3: '좋아요', 4: '좋아요...
 3      {0: '좋아요', 1: '아아 마셨어요 친절 친절', 2: '.', 3: '직원들...
 4      {0: '애플망고 시원하고 달달하고 상큼하니 맛나요~~', 1: '드라이브쓰루 줄 ...
                              ...
 244    {0: '좋아요', 1: '직원분들 모두 친절하세요~!!!!', 2: '당당하니 맛...
 245    {0: '#스타벅스 #포항죽도DT점', 1: 'ㅈ', 2: '굿', 3: '', 4...
 246    {0: '좋아요', 1: '좋아요 깨끗하고 친절해요', 2: '음료 맛있게 머그잔 ...
 247    {0: '스벅이야 뭐 말할거있나요.', 1: '스벅 오늘 너무 잘 먹어서 좋네요',...
 248    {0: '아침부터 열심히 걷고 마시는... 이러면 열심히 걸은거 다 허빵이지만......
 Name: reviews, Length: 249, dtype: object,
 'scores': 0      {0: 4.0, 1: 4.5, 2: 5.0, 3: 5.0, 4: 3.5, 5: 4....
 1      {0: 5.0, 1: 4.0, 2: 3.0, 3: 4.5, 4: 4.0, 5: 5....
 2      {0: 5.0, 1: 5.0, 2: 4.5, 3: 4.0, 4: 5.0, 5: 5....
 3      {0: 4.5, 1: 4.5, 2: 4.0, 3: 3.0, 4: 5.0, 5: 4....
 4      {0: 3.5, 1: 3.0, 2: 5.0, 3: 4.5, 4: 5.0, 5: 5....
                              ...
 244    {0: 4.5, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....
 245    {0: 5.0, 1: 4.0, 2: 4.0, 3: 4.5, 4: 4.0, 5: 4....
 246    {0: 4.0, 1: 4.0, 2: 4.0, 3: 5.0, 4: 4.0, 5: 5....
 247    {0: 5.0, 1: 5.0, 2: 4.5, 3: 5.0, 4: 4.5, 5: 4....
 248    {0: 4.5, 1: 4.5, 2: 5.0, 3: 4.0, 4: 3.5, 5: 4....
 Name: scores, Length: 249, dtype: object,
 'dates': 0      {0: '2020.06.25', 1: '2020.06.23', 2: '2020.06...
 1      {0: '2020.06.22', 1: '2020.06.22', 2: '2020.06...
 2      {0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...
 3      {0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...
 4      {0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...
                              ...
 244    {0: '2020.06.23', 1: '2020.06.22', 2: '2020.06...
 245    {0: '2020.06.24', 1: '2020.06.21', 2: '2020.06...
 246    {0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...
 247    {0: '2020.06.19', 1: '2020.06.19', 2: '2020.06...
 248    {0: '2020.06.26', 1: '2020.06.24', 2: '2020.06...
 Name: dates, Length: 249, dtype: object}

In [167]:
def func(x_dict):
    answer = []
    #     print({k: v for k, v in x_dict.items() if "펼쳐보기" in v})
    return {k: v for k, v in x_dict.items() if not "펼쳐보기" in v}


warnings = []
new_dict_list2 = [func(review) for review in new_dict_list["reviews"]]

In [168]:
total_data = total_data.reset_index(drop=True)

In [170]:
total_data.shape

(249, 9)

In [171]:
for i in range(len(new_dict_list2)):
    print(
        total_data.loc[i, "loc_name"],
        total_data.loc[i, "receipt_num"],
        len(new_dict_list2[i]),
        len(new_dict_list["scores"][i]),
        len(new_dict_list["dates"][i]),
    )
    a = [
        total_data.loc[i, "receipt_num"]
        == len(new_dict_list2[i])
        == len(new_dict_list["scores"][i])
        == len(new_dict_list["dates"][i])
    ]
    if not all(element == a[0] for element in a):
        warnings.append(total_data.loc[i, "loc_name"])
for warning in warnings:
    print("*" * 20, warning)
# new_dict_list2 = [v for k, v in [review.items() for review in new_dict_list['reviews']] if not "펼쳐내기" in v]
# new_dict_list2

스타벅스 연희DT점 160 160 160 160
스타벅스 종암DT점 177 177 177 177
스타벅스 영등포신길DT점 314 314 314 314
스타벅스 구의DT점 203 203 203 203
스타벅스 낙성대DT점 284 284 284 284
스타벅스 공릉DT점 282 282 282 282
스타벅스 화곡DT점 218 218 218 218
스타벅스 신림DT점 176 176 176 176
스타벅스 신정DT점 192 192 192 192
스타벅스 송파나루역DT점 177 177 177 177
스타벅스 강동암사DT점 175 175 175 175
스타벅스 강동구청DT점 206 206 206 206
스타벅스 신월IC DT점 206 206 206 206
스타벅스 송파방이DT점 150 150 150 150
스타벅스 과천DT점 82 82 82 82
스타벅스 방화DT점 236 236 236 236
스타벅스 원당DT점 160 160 160 160
스타벅스 안양석수DT점 167 167 167 167
스타벅스 양주송추DT점 50 50 50 50
스타벅스 광명소하DT점 175 175 175 175
스타벅스 고양DT점 137 137 137 137
스타벅스 역곡역DT점 282 282 282 282
스타벅스 하남미사DT점 139 139 139 139
스타벅스 의정부회룡역DT점 159 159 159 159
스타벅스 안양운동장사거리DT점 206 206 206 206
스타벅스 평촌역DT점 127 127 127 127
스타벅스 백석역DT점 158 158 158 158
스타벅스 일산풍동DT점 109 109 109 109
스타벅스 부천심곡DT점 170 170 170 170
스타벅스 의정부예술의전당DT점 157 157 157 157
스타벅스 의정부신곡DT점 187 187 187 187
스타벅스 안양비산DT점 188 188 188 188
스타벅스 의왕청계DT점 78 78 78 78
스타벅스 일산애니골DT점 143 143 143 143
스타벅스 부천중동DT점 162 162 162 162
스타벅스 의정부용현DT점 126 126 126 126
스타벅스 풍무역DT점 118 118 118 118
스타벅스 시흥대야DT점 101 101 101 101
스타벅스 의정부녹양DT점 120 120 120 120
스타벅스 리버사이드팔당DTR점 346 346 346 346
스타벅스 안양호계DT점 150 150 150 150
스타벅스 인천갈산DT점 139 139 139 139
스타벅스 경인교대입구역DT점 137 137 137 137
스타벅스 풍무사거리DT점 69 69 69 69
스타벅스 김포풍무DT점 117 117 117 117
스타벅스 일산덕이DT점 121 121 121 121
스타벅스 평내DT점 133 133 133 133
스타벅스 남양주연평DT점 112 112 112 112
스타벅스 남양주진접DT점 125 125 125 125
스타벅스 김포감정DT점 198 198 198 198
스타벅스 부평삼거리역DT점 139 139 139 139
스타벅스 양주광사DT점 113 113 113 113
스타벅스 인천서구청DT점 222 222 222 222
스타벅스 경기광주신현DT점 116 116 116 116
스타벅스 북수원IC DT점 248 248 248 248
스타벅스 수지성복DT점 221 221 221 221
스타벅스 수원연무DT점 112 112 112 112
스타벅스 경기광주송정DT점 78 78 78 78
스타벅스 양주덕정역DT점 107 107 107 107
스타벅스 인천학익DT점 153 153 153 153
스타벅스 경기광주쌍령DT점 73 73 73 73
스타벅스 용인마북DT점 182 182 182 182
스타벅스 동수원DT점 211 211 211 211
스타벅스 인천동춘DT점 191 191 191 191
스타벅스 인천용현DT점 202 202 202 202
스타벅스 수원경수인계DT점 74 74 74 74
스타벅스 수원KBS DT점 159 159 159 159
스타벅스 수원인계DT점 173 173 173 173
스타벅스 수원세류DT점 74 74 74 74
스타벅스 수원IC DT점 149 149 149 149
스타벅스 포천DT점 102 102 102 102
스타벅스 용인동백DT점 158 158 158 158
스타벅스 수원권선DT점 239 239 239 239
스타벅스 인천송도DT점 196 196 196 196
스타벅스 수원망포DT점 233 233 233 233
스타벅스 용인보라DT점 141 141 141 141
스타벅스 동두천DT점 104 104 104 104
스타벅스 용인상하DT점 120 120 120 120
스타벅스 신영통DT점 141 141 141 141
스타벅스 화성병점DT점 164 164 164 164
스타벅스 동탄능동DT점 182 182 182 182
스타벅스 용인시청DT점 105 105 105 105
스타벅스 용인김량장DT점 134 134 134 134
스타벅스 북오산IC DT점 193 193 193 193
스타벅스 인천강화DT점 83 83 83 83
스타벅스 오산IC DT점 152 152 152 152
스타벅스 이천사음DT점 116 116 116 116
스타벅스 오산갈곶DT점 141 141 141 141
스타벅스 이천증포DT점 105 105 105 105
스타벅스 평택서정DT점 116 116 116 116
스타벅스 평택안중DT점 102 102 102 102
스타벅스 안성공도DT점 144 144 144 144
스타벅스 안성석정DT점 105 105 105 105
스타벅스 여주DT점 94 94 94 94
스타벅스 춘천석사DT점 285 285 285 285
스타벅스 춘천후평DT점 191 191 191 191
스타벅스 당진시곡DT점 117 117 117 117
스타벅스 천안두정역DT점 65 65 65 65
스타벅스 천안성정DT점 150 150 150 150
스타벅스 천안IC DT점 125 125 125 125
스타벅스 천안불당DT점 120 120 120 120
스타벅스 천안서부대로DT점 85 85 85 85
스타벅스 아산방축DT점 86 86 86 86
스타벅스 원주명륜DT점 200 200 200 200
스타벅스 원주반곡DT점 161 161 161 161
스타벅스 서산예천DT점 149 149 149 149
스타벅스 충주시청DT점 110 110 110 110
스타벅스 충주호암DT점 155 155 155 155
스타벅스 청주율량DT점 183 183 183 183
스타벅스 청주비하DT점 91 91 91 91
스타벅스 청주봉명DT점 175 175 175 175
스타벅스 청주사직DT점 172 172 172 172
스타벅스 청주용담DT점 158 158 158 158
스타벅스 청주용암DT점 160 160 160 160
스타벅스 제천DT점 131 131 131 131
스타벅스 세종다정DT점 192 192 192 192
스타벅스 대전신탄진DT점 132 132 132 132
스타벅스 공주동학사DT점 111 111 111 111
스타벅스 대전도안DT점 225 225 225 225
스타벅스 대전한남대DT점 132 132 132 132
스타벅스 충남보령DT점 109 109 109 109
스타벅스 대전IC DT점 127 127 127 127
스타벅스 대전터미널DT점 62 62 62 62
스타벅스 대전수침교DT점 133 133 133 133
스타벅스 대전유천DT점 121 121 121 121
스타벅스 계룡대로DT점 140 140 140 140
스타벅스 대전대사DT점 141 141 141 141
스타벅스 대전가수원DT점 179 179 179 179
스타벅스 대전판암DT점 169 169 169 169
스타벅스 속초DT점 208 208 208 208
스타벅스 강릉송정DT점 95 95 95 95
스타벅스 익산영등DT점 215 215 215 215
스타벅스 군산나운DT점 100 100 100 100
스타벅스 동해DT점 129 129 129 129
스타벅스 김천시청DT점 133 133 133 133
스타벅스 전주송천DT점 190 190 190 190
스타벅스 전주덕진광장DT점 181 181 181 181
스타벅스 전북대병원DT점 118 118 118 118
스타벅스 전주백제대로DT점 175 175 175 175
스타벅스 전주효자DT점 203 203 203 203
스타벅스 전주평화DT점 158 158 158 158
스타벅스 구미도량DT점 154 154 154 154
스타벅스 구미금오산DT점 164 164 164 164
스타벅스 구미시청DT점 154 154 154 154
스타벅스 구미상모DT점 196 196 196 196
스타벅스 전북정읍DT점 134 134 134 134
스타벅스 대구칠곡대로DT점 123 123 123 123
스타벅스 대구평리DT점 130 130 130 130
스타벅스 대구침산DT점 174 174 174 174
스타벅스 대구감삼DT점 192 192 192 192
스타벅스 대구칠성DT점 151 151 151 151
스타벅스 대구두류DT점 187 187 187 187
스타벅스 대구공평DT점 216 216 216 216
스타벅스 대구상인DT점 118 118 118 118
스타벅스 동대구로DT점 162 162 162 162
스타벅스 대구수성네거리DT점 139 139 139 139
스타벅스 대구월곡DT점 81 81 81 81
스타벅스 대구영대병원역DT점 86 86 86 86
스타벅스 대구수성도서관DT점 118 118 118 118
스타벅스 대구앞산DT점 88 88 88 88
스타벅스 대구중동DT점 121 121 121 121
스타벅스 대구도원DT점 123 123 123 123
스타벅스 대구중동네거리DT점 65 65 65 65
스타벅스 대구만촌DT점 117 117 117 117
스타벅스 대구황금DT점 89 89 89 89
스타벅스 대구상동DT점 77 77 77 77
스타벅스 국립대구박물관DT점 47 47 47 47
스타벅스 경산중방DT점 198 198 198 198
스타벅스 광주용두DT점 179 179 179 179
스타벅스 광주수완DT점 77 77 77 77
스타벅스 광주연제DT점 29 29 29 29
스타벅스 광주매곡DT점 216 216 216 216
스타벅스 광주운암DT점 190 190 190 190
스타벅스 광주신가DT점 145 145 145 145
스타벅스 광주흑석DT점 95 95 95 95
스타벅스 광주운남DT점 144 144 144 144
스타벅스 광주신안DT점 189 189 189 189
스타벅스 광주산정DT점 103 103 103 103
스타벅스 광주신세계DT점 129 129 129 129
스타벅스 광주화정DT점 137 137 137 137
스타벅스 광주지산DT점 93 93 93 93
스타벅스 광주상무DT점 139 139 139 139
스타벅스 광주월산DT점 151 151 151 151
스타벅스 광주선운DT점 51 51 51 51
스타벅스 광주금호DT점 113 113 113 113
스타벅스 광주방림DT점 201 201 201 201
스타벅스 광주주월DT점 112 112 112 112
스타벅스 광주지원DT점 66 66 66 66
스타벅스 포항쌍용DT점 169 169 169 169
스타벅스 경주터미널DT점 232 232 232 232
스타벅스 밀양DT점 91 91 91 91
스타벅스 경주보문로DT점 137 137 137 137
스타벅스 진주칠암DT점 127 127 127 127
스타벅스 창원호계DT점 138 138 138 138
스타벅스 경남사천DT점 109 109 109 109
스타벅스 창원역DT점 223 223 223 223
스타벅스 마산역DT점 142 142 142 142
스타벅스 김해진영DT점 35 35 35 35
스타벅스 마산회원DT점 88 88 88 88
스타벅스 전남광양DT점 168 168 168 168
스타벅스 마산해안대로DT점 198 198 198 198
스타벅스 울산호계DT점 66 66 66 66
스타벅스 울산북구청DT점 174 174 174 174
스타벅스 울산MBC DT점 171 171 171 171
스타벅스 울산시청사거리DT점 125 125 125 125
스타벅스 울산남구청DT점 156 156 156 156
스타벅스 김해구산DT점 92 92 92 92
스타벅스 울산정자비치DT점 138 138 138 138
스타벅스 울산중리사거리DT점 147 147 147 147
스타벅스 울산도산사거리DT점 151 151 151 151
스타벅스 김해외동DT점 93 93 93 93
스타벅스 남양산IC DT점 154 154 154 154
스타벅스 목포터미널DT점 72 72 72 72
스타벅스 진해자은DT점 185 185 185 185
스타벅스 목포북항DT점 158 158 158 158
스타벅스 김해대로DT점 86 86 86 86
스타벅스 양산덕계DT점 150 150 150 150
스타벅스 여수둔덕DT점 109 109 109 109
스타벅스 여수학동DT점 52 52 52 52
스타벅스 금정남산동DT점 88 88 88 88
스타벅스 금정구청DT점 146 146 146 146
스타벅스 동래미남DT점 152 152 152 152
스타벅스 사상주례DT점 174 174 174 174
스타벅스 동서대DT점 161 161 161 161
스타벅스 명지강변DT점 147 147 147 147
스타벅스 수영강변DT점 158 158 158 158
스타벅스 을숙도강변DT점 250 250 250 250
스타벅스 부산안락DT점 157 157 157 157
스타벅스 수영망미DT점 128 128 128 128
스타벅스 기장역DT점 83 83 83 83
스타벅스 부산재송DT점 136 136 136 136
스타벅스 다대포DT점 122 122 122 122
스타벅스 동명대DT점 253 253 253 253
스타벅스 해운대달맞이DT점 123 123 123 123
스타벅스 동부산DT점 113 113 113 113
스타벅스 제주삼화DT점 67 67 67 67
스타벅스 제주용담DT점 241 241 241 241
스타벅스 제주외도DT점 71 71 71 71
스타벅스 제주도남DT점 106 106 106 106
스타벅스 제주성산DT점 291 291 291 291
스타벅스 제주애월DT점 234 234 234 234
스타벅스 인천당하DT점 230 230 230 230
스타벅스 인천간석DT점 226 226 226 226
스타벅스 대구성서IC DT점 144 144 144 144
스타벅스 포항장성DT점 155 155 155 155
스타벅스 포항죽도DT점 129 129 129 129
스타벅스 광주효천DT점 78 78 78 78
스타벅스 경주보문호수DT점 117 117 117 117
스타벅스 온천장역DT점 146 146 146 146

In [182]:
ddd = yaml.load(total_data.loc[0, "scores"])
len(ddd)

<ipython-input-182-cb368cc73fa8>:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  ddd = yaml.load(total_data.loc[0, "scores"])

160

In [184]:
new_datas = []
for idx, row in total_data.iterrows():
    scores = yaml.load(row.scores)
    reviews = yaml.load(row.reviews)
    dates = yaml.load(row.dates)
    visit = yaml.load(row.visit_num)
    for i in range(len(scores)):
        new_row = {
            "loc_name": row["loc_name"],
            "address": row["address"],
            "scores": scores[i],
            "reviews": reviews[i],
            "dates": dates[i],
        }
        new_datas.append(new_row)
len(new_datas)

<ipython-input-184-430d93cb33e5>:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  scores = yaml.load(row.scores)
<ipython-input-184-430d93cb33e5>:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  reviews = yaml.load(row.reviews)
<ipython-input-184-430d93cb33e5>:5: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  dates = yaml.load(row.dates)
<ipython-input-184-430d93cb33e5>:6: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  visit = yaml.load(row.visit_num)

36543

In [188]:
new_df = pd.DataFrame(new_datas)
new_df.to_csv("starbucks_review_total_cleaned_200626.csv", sep="\t")

In [233]:
new_df = pd.read_csv("starbucks_review_total_cleaned_200626.csv", sep="\t")
new_df = new_df.drop("Unnamed: 0", axis=1)
new_df

           loc_name         address  scores                reviews       dates
0        스타벅스 연희DT점  연희동 87-7 ,87-8     4.0  아주 좋아요 ~ 자주 이용하는 편이에요  2020.06.25
1        스타벅스 연희DT점  연희동 87-7 ,87-8     4.5                    좋아요  2020.06.23
2        스타벅스 연희DT점  연희동 87-7 ,87-8     5.0       넓고 주차자리도 있어서 좋아요  2020.06.20
3        스타벅스 연희DT점  연희동 87-7 ,87-8     5.0                    조아요  2020.06.19
4        스타벅스 연희DT점  연희동 87-7 ,87-8     3.5               커피맛이 약해요  2020.06.18
...             ...             ...     ...                    ...         ...
36538  스타벅스 온천장역DT점       장전동 607-6     5.0               편리하고 좋아요  2019.03.09
36539  스타벅스 온천장역DT점       장전동 607-6     5.0     깔끔하고 주차공간도 있어서 좋았음  2019.02.28
36540  스타벅스 온천장역DT점       장전동 607-6     5.0   직원들이 친절하고 음료가 맛있었습니다  2019.02.21
36541  스타벅스 온천장역DT점       장전동 607-6     5.0                  좋아요:)  2018.09.20
36542  스타벅스 온천장역DT점       장전동 607-6     4.0          깔끔하고 주차도 좋아요.  2018.01.31

[36543 rows x 5 columns]

In [237]:
from dateutil.parser import parse

tuple(map(lambda x: int(x), tuple("2015-05-23".split("-"))))
# new_df["dates"] = new_df["dates"].map(lambda date: str(date))
new_df["dates"] = new_df["dates"].map(
    lambda date: pd.datetime(*tuple(map(lambda x: int(x), date.split("."))))
)

# new_df["dates"]

<ipython-input-237-72c17e641934>:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  new_df["dates"] = new_df["dates"].map(lambda date: pd.datetime(*tuple(map(lambda x:int(x),date.split('.')))))

In [238]:
new_df["dates"]

0       2020-06-25
1       2020-06-23
2       2020-06-20
3       2020-06-19
4       2020-06-18
           ...
36538   2019-03-09
36539   2019-02-28
36540   2019-02-21
36541   2018-09-20
36542   2018-01-31
Name: dates, Length: 36543, dtype: datetime64[ns]

In [249]:
new_df.to_csv("data/starbucks_review_total_200626.csv", sep="\t")

In [239]:
new_df["dates"].mean()

Timestamp('2020-02-01 15:37:20.505705472')

In [240]:
def custom_aggregate(each_loc_df):
    new_df = {}
    each_loc_df = each_loc_df.reset_index(drop=True)
    new_df["scores"] = each_loc_df["scores"].mean()
    new_df["reviews"] = each_loc_df["reviews"].count()
    new_df["dates"] = each_loc_df["dates"].mean()

    return pd.Series(new_df, index=["dates", "scores", "reviews"])

In [242]:
groupby_new_df = new_df.groupby(["loc_name", "address"]).apply(custom_aggregate)
groupby_new_df = groupby_new_df.sort_values(["scores", "reviews"], ascending=False)

In [247]:
groupby_new_df.reset_index(drop=False).to_csv(
    "data/starbucks_review_groupby_200626.csv", sep="\t"
)

In [174]:
new_dict_list2["scores"] = new_dict_list["scores"]
new_dict_list2["dates"] = new_dict_list["dates"]

TypeError: list indices must be integers or slices, not str

In [146]:
total_data = total_data[~total_data["loc_name"].isin(warnings)].reset_index(drop=True)
total_data

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...,160,"{0: '아주 좋아요 ~ 자주 이용하는 편이에요', 1: '좋아요', 2: '넓고 ...","{0: 4.0, 1: 4.5, 2: 5.0, 3: 5.0, 4: 3.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '2번..."
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...,177,"{0: '좋아요', 1: '좋아요 ㅎㅎ', 2: '여긴 크고 작은 실수가 잦은데 학...","{0: 5.0, 1: 4.0, 2: 3.0, 3: 4.5, 4: 4.0, 5: 5....","{0: '2020.06.22', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
2,스타벅스 영등포신길DT점,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...,314,"{0: '만족합니다', 1: '굿', 2: '.', 3: '좋아요', 4: '좋아요...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
3,스타벅스 구의DT점,구의동 67-36,블로그리뷰 90,https://m.place.naver.com/restaurant/36636853?...,203,"{0: '좋아요', 1: '아아 마셨어요 친절 친절', 2: '.', 3: '직원들...","{0: 4.5, 1: 4.5, 2: 4.0, 3: 3.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '2번..."
4,스타벅스 낙성대DT점,봉천동 1657-3,블로그리뷰 104,https://m.place.naver.com/restaurant/38412114?...,284,"{0: '애플망고 시원하고 달달하고 상큼하니 맛나요~~', 1: '드라이브쓰루 줄 ...","{0: 3.5, 1: 3.0, 2: 5.0, 3: 4.5, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
...,...,...,...,...,...,...,...,...,...
236,스타벅스 제주용담DT점,용담삼동 2572-4 화이트하우스,블로그리뷰 34,https://m.place.naver.com/restaurant/35720213?...,241,"{0: '긋긋', 1: '분위기 좋아요~~', 2: '굿!', 3: '제주 쑥떡크림...","{0: 5.0, 1: 5.0, 2: 4.0, 3: 4.5, 4: 4.5, 5: 4....","{0: '2020.06.26', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
237,스타벅스 제주외도DT점,외도일동 401-1,블로그리뷰 431,https://m.place.naver.com/restaurant/183254138...,71,"{0: '넓고 친절!', 1: '오랜만에 스타벅스 그리고 진짜오랜만에 돌체라떼 최고...","{0: 5.0, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 5....","{0: '2020.06.24', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
238,스타벅스 제주도남DT점,도남동 377,블로그리뷰 503,https://m.place.naver.com/restaurant/104882012...,106,"{0: '#현무암러스크 #아이스아메리카노 #벤티사이즈', 1: '#그린티프라푸치노 ...","{0: 5.0, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 5....","{0: '2020.06.26', 1: '2020.06.25', 2: '2020.06...","{0: '10번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '1..."
239,스타벅스 제주성산DT점,고성리 238,블로그리뷰 244,https://m.place.naver.com/restaurant/69594415?...,291,{0: '제주에만 있는 메뉴 먹으려고 방문했어요! 건물 외관도 이쁘구 창가쪽 자리가...,"{0: 5.0, 1: 5.0, 2: 3.5, 3: 4.5, 4: 2.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
240,스타벅스 제주애월DT점,고내리 340,블로그리뷰 144,https://m.place.naver.com/restaurant/86596503?...,234,"{0: '아주좋아용', 1: '#제주도#스타벅스#애월점#무료쿠폰 득템.ㅋㅋ', 2:...","{0: 5.0, 1: 5.0, 2: 4.0, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."

In [147]:
add_data = pd.read_csv("data/2020-06-26_16_23_data_review.csv", sep="\t")
total_data = pd.concat([total_data, add_data])
total_data

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num,Unnamed: 0
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...,160,"{0: '아주 좋아요 ~ 자주 이용하는 편이에요', 1: '좋아요', 2: '넓고 ...","{0: 4.0, 1: 4.5, 2: 5.0, 3: 5.0, 4: 3.5, 5: 4....","{0: '2020.06.25', 1: '2020.06.23', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '2번...",NaN
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...,177,"{0: '좋아요', 1: '좋아요 ㅎㅎ', 2: '여긴 크고 작은 실수가 잦은데 학...","{0: 5.0, 1: 4.0, 2: 3.0, 3: 4.5, 4: 4.0, 5: 5....","{0: '2020.06.22', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번...",NaN
2,스타벅스 영등포신길DT점,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...,314,"{0: '만족합니다', 1: '굿', 2: '.', 3: '좋아요', 4: '좋아요...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 4.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.25', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번...",NaN
3,스타벅스 구의DT점,구의동 67-36,블로그리뷰 90,https://m.place.naver.com/restaurant/36636853?...,203,"{0: '좋아요', 1: '아아 마셨어요 친절 친절', 2: '.', 3: '직원들...","{0: 4.5, 1: 4.5, 2: 4.0, 3: 3.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '9번째 방문', 2: '1번째 방문', 3: '2번...",NaN
4,스타벅스 낙성대DT점,봉천동 1657-3,블로그리뷰 104,https://m.place.naver.com/restaurant/38412114?...,284,"{0: '애플망고 시원하고 달달하고 상큼하니 맛나요~~', 1: '드라이브쓰루 줄 ...","{0: 3.5, 1: 3.0, 2: 5.0, 3: 4.5, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번...",NaN
...,...,...,...,...,...,...,...,...,...,...
3,스타벅스 포항장성DT점,장성동 1577-8,블로그리뷰 14,https://m.place.naver.com/restaurant/363950512...,155,"{0: '좋아요', 1: '직원분들 모두 친절하세요~!!!!', 2: '당당하니 맛...","{0: 4.5, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....","{0: '2020.06.23', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '4번째 방문', 2: '1번째 방문', 3: '5번...",3.0
4,스타벅스 포항죽도DT점,죽도동 699-1,블로그리뷰 52,https://m.place.naver.com/restaurant/163902018...,129,"{0: '#스타벅스 #포항죽도DT점', 1: 'ㅈ', 2: '굿', 3: '', 4...","{0: 5.0, 1: 4.0, 2: 4.0, 3: 4.5, 4: 4.0, 5: 4....","{0: '2020.06.24', 1: '2020.06.21', 2: '2020.06...","{0: '1번째 방문', 1: '5번째 방문', 2: '1번째 방문', 3: '4번...",4.0
5,스타벅스 광주효천DT점,임암동 141-3 143-2,블로그리뷰 473,https://m.place.naver.com/restaurant/145925867...,78,"{0: '좋아요', 1: '좋아요 깨끗하고 친절해요', 2: '음료 맛있게 머그잔 ...","{0: 4.0, 1: 4.0, 2: 4.0, 3: 5.0, 4: 4.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번...",5.0
6,스타벅스 경주보문호수DT점,북군동 57-40 1~3층,블로그리뷰 263,https://m.place.naver.com/restaurant/34063051?...,117,"{0: '스벅이야 뭐 말할거있나요.', 1: '스벅 오늘 너무 잘 먹어서 좋네요',...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 5.0, 4: 4.5, 5: 4....","{0: '2020.06.19', 1: '2020.06.19', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번...",6.0
7,스타벅스 온천장역DT점,장전동 607-6,블로그리뷰 37,https://m.place.naver.com/restaurant/179751176...,146,{0: '아침부터 열심히 걷고 마시는... 이러면 열심히 걸은거 다 허빵이지만......,"{0: 4.5, 1: 4.5, 2: 5.0, 3: 4.0, 4: 3.5, 5: 4....","{0: '2020.06.26', 1: '2020.06.24', 2: '2020.06...","{0: '6번째 방문', 1: '2번째 방문', 2: '1번째 방문', 3: '1번...",7.0

In [144]:
total_data_select = total_data[total_data["loc_name"].isin(warnings)].reset_index(
    drop=True
)
total_data_select.to_csv("recrwal_select_data.csv", sep="\t")

In [145]:
total_data_select

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num
0,스타벅스 인천당하DT점,당하동 1092-7,블로그리뷰 111,https://m.place.naver.com/restaurant/37293532?...,230,{},"{0: 5.0, 1: 5.0, 2: 5.0, 3: 4.0, 4: 4.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '3번째 방문', 1: '2번째 방문', 2: '1번째 방문', 3: '1번..."
1,스타벅스 인천간석DT점,간석동 617-6,블로그리뷰 50,https://m.place.naver.com/restaurant/267527479...,0,"{0: '오늘은꽁짜', 1: '매장도 깔끔하고 좋아요', 2: ',', 3: '조아...","{0: 5.0, 1: 5.0, 2: 4.0, 3: 4.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...","{0: '5번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
2,스타벅스 대구성서IC DT점,용산동 410-9 12,블로그리뷰 63,https://m.place.naver.com/restaurant/37296730?...,144,"{0: '친절쓰 자주감', 1: '좋아요', 2: '항상 친절하시고 음료도 맛있습니...","{0: 5.0, 1: 4.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '10번째 방문', 3: '2..."
3,스타벅스 포항장성DT점,장성동 1577-8,블로그리뷰 14,https://m.place.naver.com/restaurant/363950512...,0,"{0: '좋아요', 1: '직원분들 모두 친절하세요~!!!!', 2: '당당하니 맛...","{0: 4.5, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....","{0: '2020.06.23', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '4번째 방문', 2: '1번째 방문', 3: '5번..."
4,스타벅스 포항죽도DT점,죽도동 699-1,블로그리뷰 52,https://m.place.naver.com/restaurant/163902018...,0,"{0: '#스타벅스 #포항죽도DT점', 1: 'ㅈ', 2: '굿', 3: '', 4...","{0: 5.0, 1: 4.0, 2: 4.0, 3: 4.5, 4: 4.0, 5: 4....","{0: '2020.06.24', 1: '2020.06.21', 2: '2020.06...","{0: '1번째 방문', 1: '5번째 방문', 2: '1번째 방문', 3: '4번..."
5,스타벅스 광주효천DT점,임암동 141-3 143-2,블로그리뷰 473,https://m.place.naver.com/restaurant/145925867...,0,"{0: '좋아요', 1: '좋아요 깨끗하고 친절해요', 2: '음료 맛있게 머그잔 ...","{0: 4.0, 1: 4.0, 2: 4.0, 3: 5.0, 4: 4.0, 5: 5....","{0: '2020.06.25', 1: '2020.06.22', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
6,스타벅스 경주보문호수DT점,북군동 57-40 1~3층,블로그리뷰 263,https://m.place.naver.com/restaurant/34063051?...,0,"{0: '스벅이야 뭐 말할거있나요.', 1: '스벅 오늘 너무 잘 먹어서 좋네요',...","{0: 5.0, 1: 5.0, 2: 4.5, 3: 5.0, 4: 4.5, 5: 4....","{0: '2020.06.19', 1: '2020.06.19', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
7,스타벅스 온천장역DT점,장전동 607-6,블로그리뷰 37,https://m.place.naver.com/restaurant/179751176...,0,{0: '아침부터 열심히 걷고 마시는... 이러면 열심히 걸은거 다 허빵이지만......,"{0: 4.5, 1: 4.5, 2: 5.0, 3: 4.0, 4: 3.5, 5: 4....","{0: '2020.06.26', 1: '2020.06.24', 2: '2020.06...","{0: '6번째 방문', 1: '2번째 방문', 2: '1번째 방문', 3: '1번..."

In [139]:
warnings

['스타벅스 인천당하DT점',
 '스타벅스 인천간석DT점',
 '스타벅스 대구성서IC DT점',
 '스타벅스 포항장성DT점',
 '스타벅스 포항죽도DT점',
 '스타벅스 광주효천DT점',
 '스타벅스 경주보문호수DT점',
 '스타벅스 온천장역DT점']

In [105]:
import yaml

In [63]:
xx2 = yaml.load(xxx)
type(xx2)

<ipython-input-63-ca973e3ead97>:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  xx2 = yaml.load(xxx)

dict

In [66]:
dates = yaml.load(x.loc[0, "dates"])

<ipython-input-66-158c33c12024>:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  dates = yaml.load(x.loc[0, "dates"])

In [73]:
scores = yaml.load(x.loc[0, "scores"])
reviews = yaml.load(x.loc[0, "reviews"])
visit_nums = yaml.load(x.loc[0, "visit_num"])
etc_info = x.loc[0, ["loc_name", "address", "receipt_num"]]
etc_info

<ipython-input-73-db2542b56a22>:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  scores = yaml.load(x.loc[0, "scores"])
<ipython-input-73-db2542b56a22>:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  reviews = yaml.load(x.loc[0, "reviews"])
<ipython-input-73-db2542b56a22>:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  visit_nums = yaml.load(x.loc[0, "visit_num"])

loc_name       스타벅스 대구평리DT점
address          평리동 1407-7
receipt_num             129
Name: 0, dtype: object

In [80]:
type(etc_info)

pandas.core.series.Series

In [81]:
print(len(scores.keys()), len(reviews.keys()), len(visit_nums.keys()), etc_info.values)

129 131 129 ['스타벅스 대구평리DT점' '평리동 1407-7' 129]

In [84]:
post_info = {
    "review": [x for k, x in reviews.items()],
    "score": [x for k, x in scores.items()],
    "date": [x for k, x in dates.items()],
}

In [93]:
post_info["review"] = [x for x in post_info["review"] if not "펼쳐보기" in x]
len(post_info["review"])

129

In [95]:
temp_df = pd.DataFrame(post_info)
temp_df.sort_values("score")

                                                review  score        date
113                                               별로에요    1.0  2019.07.10
115                                              별로였어요    1.0  2019.07.04
116                                  식기류가 더럽고 아주 별로입니다    1.0  2019.06.28
121  거의 매번 아이스 아메리카노 주문해서 음용하고 있는데 커피 맛이 신신애 오락가락 노...    1.0  2019.06.01
8                                                 맛없네요    2.5  2020.05.22
..                                                 ...    ...         ...
39                                          굿 ㅋㅋㅋㅋㅋㅋㅋㅋ    5.0  2020.04.14
38                                                   .    5.0  2020.04.16
37                      항상 친절하시구 피치 젤리티 맛있는거 같아요!̆̈ ㅎㅎ    5.0  2020.04.18
49                                               #커피맛집    5.0  2020.03.26
128                                         익숙해서 좋아요!!    5.0  2017.01.28

[129 rows x 3 columns]

In [67]:
x.head()

,loc_name,address,num_review,link,receipt_num,reviews,scores,dates,visit_num
0,스타벅스 대구평리DT점,평리동 1407-7,블로그리뷰 57,https://m.place.naver.com/restaurant/37408385?...,129,"{0: '친절합니다', 1: '만족합니다 만족합니다', 2: '굳', 3: '여름 ...","{0: 4.5, 1: 5.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....","{0: '2020.06.21', 1: '2020.06.21', 2: '2020.06...","{0: '4번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '6번..."
1,스타벅스 대구침산DT점,침산동 245-1,블로그리뷰 37,https://m.place.naver.com/restaurant/35658189?...,174,"{0: '친절해요', 1: 'ㅇㅇ', 2: '친절해요!', 3: '좋아요', 4: ...","{0: 1.0, 1: 5.0, 2: 5.0, 3: 4.0, 4: 3.0, 5: 5....","{0: '2020.06.26', 1: '2020.06.20', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
2,스타벅스 대구감삼DT점,감삼동 490-1,블로그리뷰 49,https://m.place.naver.com/restaurant/36943347?...,192,"{0: '좋아요', 1: '맛있어요', 2: '조아요 ㅎㅎㅎㅎㅎㅎ', 3: '조아요...","{0: 4.0, 1: 4.0, 2: 5.0, 3: 5.0, 4: 5.0, 5: 4....","{0: '2020.06.25', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '1번째 방문', 3: '1번..."
3,스타벅스 대구칠성DT점,칠성동2가 371-5,블로그리뷰 90,https://m.place.naver.com/restaurant/187107644...,151,"{0: '빨리 나와서 좋아용', 1: '굿!', 2: 'o', 3: '차가 많이 오...","{0: 5.0, 1: 4.0, 2: 5.0, 3: 4.0, 4: 4.0, 5: 5....","{0: '2020.06.24', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '1번째 방문', 2: '2번째 방문', 3: '2번..."
4,스타벅스 대구두류DT점,두류동 135-14,블로그리뷰 68,https://m.place.naver.com/restaurant/36196133?...,187,"{0: '~~~~~~~~~~', 1: '집근처라서 자주가요', 2: '바닐라라떼 핵...","{0: 3.0, 1: 5.0, 2: 5.0, 3: 1.5, 4: 4.5, 5: 4....","{0: '2020.06.24', 1: '2020.06.24', 2: '2020.06...","{0: '1번째 방문', 1: '3번째 방문', 2: '4번째 방문', 3: '1번..."

In [56]:
json.loads(xxx)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [35]:
x['reviews'][0]

"['아주 좋아요 ~ 자주 이용하는 편이에요', '좋아요', '넓고 주차자리도 있어서 좋아요', '조아요', '커피맛이 약해요', '', '음료는 너무 맛난데..사람이 너무 많아여 ㅠㅠ', '굿굿', '굿굿', '친절하고 커피맛있음', '커피2잔 샌드위치1개 주문했더니 물티슈는 1개 주네요 ㅠ', '드라이브스루때문에 한잔시켜도 좀 오래걸려요ㅜㅜ 급하신분이면 사이렌오더로 미리시키는게 좋을것같아요', '잉글리쉬머핀 헤비하지않고 맛있음. 카페위치 좋고, 매장널찍해서 편하게 이용가능함. 드라이브스루때문에 붐비는시간대 걸리면 주문음료 나오는데 시간이 좀 걸릴수있음', '시끄러움', '맛있어욤', '친절합니당~~~~~', '맛있어욤', '돌체라떼 짱~~!~!~!~!', '좋아요', '쿳', '피치레몬블랜디드 맛있어요 생복숭아가 씹혀요 굿', '쾌적하고 좋아용', '보통 스타벅스 맛', 'DT편하고좋아여', '굿', '커피맛이좋아요']"

In [37]:
x['reviews'][0] = {'temp':0, 'temp2':1}

In [38]:
x['reviews'][0]

{'temp': 0, 'temp2': 1}

In [28]:
x['receipt_num'] = x['dates'].map(lambda x:len(x))
y = x.loc[0, 'scores']
y = y.replace('[', '')
y = y.replace(']', '')
[int(k) for k in y.split(',')]

ValueError: invalid literal for int() with base 10: "'4'"

In [3]:
x = pd.read_csv('data/2020-06-25_16_23_스타벅스dt.csv', sep='\t')
x = x.drop(x.columns[0], axis=1)
x

,loc_name,address,num_review,link
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...
2,카페,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...
3,스타벅스 영등포신길DT점,구의동 67-36,블로그리뷰 90,https://m.place.naver.com/restaurant/36636853?...
4,스타벅스 구의DT점,봉천동 1657-3,블로그리뷰 104,https://m.place.naver.com/restaurant/38412114?...
...,...,...,...,...
244,스타벅스 대구칠성DT점,용담삼동 2572-4 화이트하우스,블로그리뷰 34,https://m.place.naver.com/restaurant/35720213?...
245,카페,외도일동 401-1,블로그리뷰 431,https://m.place.naver.com/restaurant/183254138...
246,스타벅스 대구두류DT점,도남동 377,블로그리뷰 503,https://m.place.naver.com/restaurant/104882012...
247,스타벅스 대구공평DT점,고성리 238,블로그리뷰 244,https://m.place.naver.com/restaurant/69594415?...
248,스타벅스 대구상인DT점,고내리 340,블로그리뷰 144,https://m.place.naver.com/restaurant/86596503?...

In [5]:
x.loc[:2,:]

,loc_name,address,num_review,link
0,스타벅스 연희DT점,"연희동 87-7 ,87-8",블로그리뷰 98,https://m.place.naver.com/restaurant/36462644?...
1,스타벅스 종암DT점,종암동 29-10,블로그리뷰 26,https://m.place.naver.com/restaurant/144745971...
2,카페,신길동 252-9 253-331253-333253-334253-335253-336,블로그리뷰 144,https://m.place.naver.com/restaurant/35886658?...

In [4]:
print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

11.089170659235641

<ipython-input-4-c402b5a99461>:1: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  print(geopy.distance.vincenty(('32','53'), ('32.1','53.001')).km)

In [12]:
mac_edit = pd.read_csv('data/new2_2020-06-24_16_59_맥드라이브.csv', sep='\t')
mac_edit = mac_edit.drop('Unnamed: 0', axis=1)
mac_edit = mac_edit[['mac_name', 'latitude', 'longitude']]
mac_edit['SORT'] = '맥도날드'
mac_edit

              mac_name   latitude   longitude  SORT
0           맥도날드 양평SK점  37.530980  126.893343  맥도날드
1         맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2            맥도날드 고척DT  37.497228  126.863535  맥도날드
3           맥도날드 염창DT점  37.552891  126.870164  맥도날드
4           맥도날드 서초GS점  37.486421  127.009869  맥도날드
..                 ...        ...         ...   ...
211       맥도날드 제주시청DT점  33.481468  126.541146  맥도날드
212       맥도날드 제주공항DT점  33.495155  126.492695  맥도날드
213        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
214      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
215  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드

[216 rows x 4 columns]

In [5]:
loc_info = pd.read_excel('/Users/dhkim/PycharmProjects/kakomap_crwal/data/ST_MAC_DT.xlsx', sep='\t')
loc_info_mac = loc_info[loc_info.SORT == '맥도날드']
loc_info_star = loc_info[loc_info.SORT == '스타벅스']
loc_info_star = loc_info_star.reset_index().drop('index', axis=1)

In [35]:
loc_info_new = pd.concat([mac_edit, loc_info_star]).reset_index().drop('index', axis=1)
loc_info_new.to_csv('/Users/dhkim/PycharmProjects/kakomap_crwal/data/ST_MAC2_DT.csv', sep='\t')

In [17]:
loc_info_new

          mac_name   latitude   longitude  SORT
0       맥도날드 양평SK점  37.530980  126.893343  맥도날드
1     맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2        맥도날드 고척DT  37.497228  126.863535  맥도날드
3       맥도날드 염창DT점  37.552891  126.870164  맥도날드
4       맥도날드 서초GS점  37.486421  127.009869  맥도날드
..             ...        ...         ...   ...
465   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
466    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
467     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
468    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
469  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[470 rows x 4 columns]

In [22]:
loc_info_mac = loc_info_new[loc_info_new.SORT == '맥도날드']
loc_info_star = loc_info_new[loc_info_new.SORT == '스타벅스']

In [24]:
loc_info_mac

              mac_name   latitude   longitude  SORT
0           맥도날드 양평SK점  37.530980  126.893343  맥도날드
1         맥도날드 양천구청DT점  37.515464  126.862954  맥도날드
2            맥도날드 고척DT  37.497228  126.863535  맥도날드
3           맥도날드 염창DT점  37.552891  126.870164  맥도날드
4           맥도날드 서초GS점  37.486421  127.009869  맥도날드
..                 ...        ...         ...   ...
211       맥도날드 제주시청DT점  33.481468  126.541146  맥도날드
212       맥도날드 제주공항DT점  33.495155  126.492695  맥도날드
213        맥도날드 제주일도DT  33.506433  126.538460  맥도날드
214      맥도날드 제주서귀포DT점  33.253216  126.562716  맥도날드
215  맥도날드 제주월드컵스타디움DT점  33.258433  126.435314  맥도날드

[216 rows x 4 columns]

In [25]:
loc_info_star = loc_info_star.reset_index().drop('index', axis=1)
loc_info_star

          mac_name   latitude   longitude  SORT
0      스타벅스 울산신정DT  35.544170  129.324735  스타벅스
1     스타벅스 경주보문로DT  35.853218  129.268695  스타벅스
2       스타벅스 동수원DT  37.278015  127.033828  스타벅스
3       스타벅스 서귀포DT  33.249525  126.506710  스타벅스
4     스타벅스 구미금오산DT  36.122231  128.323599  스타벅스
..             ...        ...         ...   ...
249   스타벅스 목포터미널DT  34.810017  126.417053  스타벅스
250    스타벅스 마산회원DT  35.220657  128.574434  스타벅스
251     스타벅스 평촌역DT  37.396431  126.969419  스타벅스
252    스타벅스 시흥대야DT  37.443912  126.790755  스타벅스
253  스타벅스 수원경수인계DT  37.267928  127.027944  스타벅스

[254 rows x 4 columns]

In [26]:

def get_distances_with_st(mac_df, star_df):
    rows = []
    for j in range(mac_df.shape[0]):
        mac_name = mac_df.loc[j].mac_name
        coord1 = (mac_df.loc[j].latitude, mac_df.loc[j].longitude)
        for i in range(star_df.shape[0]):
            star_name = star_df.loc[i].mac_name
            coord2 = (star_df.loc[i].latitude, star_df.loc[i].longitude)
            distance = geopy.distance.vincenty(coord1, coord2).km
            row = {
                'mac_name' : mac_name,
                'star_name' : star_name,
                'distance' : distance
                }
            rows.append(row)
    return rows

In [27]:
rows = get_distances_with_st(loc_info_mac, loc_info_star)

<ipython-input-26-cd961e17d962>:9: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  distance = geopy.distance.vincenty(coord1, coord2).km

In [28]:
mac_star_distance = pd.DataFrame(rows)
mac_star_distance

                mac_name      star_name    distance
0             맥도날드 양평SK점    스타벅스 울산신정DT  309.836061
1             맥도날드 양평SK점   스타벅스 경주보문로DT  282.343907
2             맥도날드 양평SK점     스타벅스 동수원DT   30.707365
3             맥도날드 양평SK점     스타벅스 서귀포DT  476.314033
4             맥도날드 양평SK점   스타벅스 구미금오산DT  201.790501
...                  ...            ...         ...
54859  맥도날드 제주월드컵스타디움DT점   스타벅스 목포터미널DT  172.114648
54860  맥도날드 제주월드컵스타디움DT점    스타벅스 마산회원DT  293.601200
54861  맥도날드 제주월드컵스타디움DT점     스타벅스 평촌역DT  461.655898
54862  맥도날드 제주월드컵스타디움DT점    스타벅스 시흥대야DT  465.488437
54863  맥도날드 제주월드컵스타디움DT점  스타벅스 수원경수인계DT  448.089152

[54864 rows x 3 columns]

In [29]:
mac_star_distance['mac_name'].unique().shape

(216,)

In [30]:
mac_star_distance[mac_star_distance['mac_name']=='맥도날드 부산엄궁DT점']['distance'].argmin()

81

In [31]:
def find_mindist_starbucks(each_mac_df):
    new_df = {}
    each_mac_df = each_mac_df.reset_index(drop=True)
    new_df['distance'] = each_mac_df['distance'].min()
    new_df['star_name'] = each_mac_df.loc[each_mac_df['distance'].argmin()]['star_name']

    return pd.Series(new_df, index=['star_name', 'distance'])

In [32]:
mac_star_distance2 = mac_star_distance.groupby(['mac_name']).apply(find_mindist_starbucks)
mac_star_distance3 = mac_star_distance2.reset_index()

In [33]:
mac_star_distance3

         mac_name      star_name   distance
0      맥도날드 가락DT점    스타벅스 송파방이DT   1.580628
1    맥도날드 강남삼성DT점      스타벅스 구의DT   5.207358
2    맥도날드 경주보문DT점   스타벅스 경주보문로DT   0.937271
3    맥도날드 경주용강DT점   스타벅스 경주터미널DT   3.931237
4    맥도날드 경주황남DT점   스타벅스 경주터미널DT   0.160485
..            ...            ...        ...
211  맥도날드 포항장성DT점    스타벅스 포항장성DT   0.067776
212  맥도날드 하남시청DT점    스타벅스 하남미사DT   3.336015
213   맥도날드 해운대DT점  스타벅스 해운대달맞이DT   1.143940
214  맥도날드 화성봉담DT점    스타벅스 수원권선DT   2.669242
215  맥도날드 화성향남DT점    스타벅스 오산갈곶DT  13.820364

[216 rows x 3 columns]

In [34]:
mac_star_distance3.to_csv('mac_star_distance.csv', sep='\t')